RUNPOD_API_KEY=
VAST_AI_API_KEY=
GATEWAY_API_KEY=

ACTIVE_PROVIDER=runpod
IDLE_CHECK_TIMEOUT_MINUTES=10

# RunPod Auto-Rental Configuration
RUNPOD_CLOUD_TYPE=SECURE
RUNPOD_COMPUTE_TYPE=GPU
RUNPOD_GPU_TYPE_IDS='NVIDIA RTX A5000,NVIDIA GeForce RTX 3090'
RUNPOD_GPU_COUNT=1
RUNPOD_GPU_PRIORITY=availability
RUNPOD_IMAGE_NAME=ghcr.io/sudosf/runpod-ollama:latest
RUNPOD_NAME=zoltraak-runpod
RUNPOD_NETWORK_VOLUME_ID=<volume_id>
RUNPOD_PORTS=11434/http,22/tcp
RUNPOD_VOLUME_MOUNT_PATH=/workspace
RUNPOD_CONTAINER_DISK_IN_GB=5