RUNPOD_API_KEY=
VAST_AI_API_KEY=
GATEWAY_API_KEY=

ACTIVE_PROVIDER=runpod
IDLE_CHECK_TIMEOUT_MINUTES=10

# RunPod Auto-Rental Configuration
#
# Add new RunPod configurations here using the prefix
#  -> ZOLTRAAK_PROVIDER_RUNPOD_CREATE_
# see Runpod docs for all avaialable fields: https://docs.runpod.io/api-reference/pods/POST/pods

ZOLTRAAK_PROVIDER_RUNPOD_CREATE_TEMPLATE_ID=<template-id>
ZOLTRAAK_PROVIDER_RUNPOD_CREATE_NETWORK_VOLUME_ID=<volume-id>

ZOLTRAAK_PROVIDER_RUNPOD_CREATE_GPU_COUNT=1
ZOLTRAAK_PROVIDER_RUNPOD_CREATE_COMPUTE_TYPE=GPU
ZOLTRAAK_PROVIDER_RUNPOD_CREATE_CLOUD_TYPE=SECURE
ZOLTRAAK_PROVIDER_RUNPOD_CREATE_NAME=zoltraak-runpod
ZOLTRAAK_PROVIDER_RUNPOD_CREATE_CONTAINER_DISK_IN_GB=5
ZOLTRAAK_PROVIDER_RUNPOD_CREATE_GPU_TYPE_PRIORITY=custom
ZOLTRAAK_PROVIDER_RUNPOD_CREATE_PORTS='11434/http,22/tcp'
ZOLTRAAK_PROVIDER_RUNPOD_CREATE_VOLUME_MOUNT_PATH=/workspace
ZOLTRAAK_PROVIDER_RUNPOD_CREATE_GPU_TYPE_IDS='NVIDIA RTX A5000,NVIDIA L4,NVIDIA A40,NVIDIA GeForce RTX 3090,NVIDIA RTX A6000,NVIDIA RTX 6000 Ada Generation'
